# Node
frontend/node_modules
frontend/.next

# Backend
backend/.env
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/data/chroma/
backend/app/models

# IDE
.vscode

# Docker
postgres_data/

# Flashrank artifacts
*.onnx
*.ort